bin
include
lib
thepythontest/thepythontest/__pycache__/
thepythontest/thepythontest/*.pyc
thepythontest/questions/__pycache__/
thepythontest/questions/*.pyc
thepythontest/questions/migrations/__pycache__/
thepythontest/questions/tests/__pycache__/